.site-nav {
  display: flex;
  margin: 20px 40px;
  align-items: center;
  justify-content: space-evenly;
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-item {
  font-family: "Alatsi", sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
  z-index: 1;
}
