* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #f5f3ec;
}

#main-border {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  border-image-repeat: stretch;
  align-items: center;
  justify-content: center;
}

.border {
  z-index: 0;
}
